.highlight {
    color: #ff4b4b;
}

.degree {
    margin-top: -0.3%;
}

h3 {
    text-align: center;
}

.j-text {
    text-align: justify;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff4b4b;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.project {
    width: 100%;
    border: 4px solid #262730;
    padding: 2%;
}

.project:hover {
    background-color: #262730;
    color: #ffffff;
}

.project:hover h5 {
    color: #ffffff;
}

.tmn {
    margin-top: -5%;
}
